{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'style.css' %}" >
  </head>
  <body>
   <h1>タスク一覧</h1>
   <table>
       {% for task in tasks %}
       <tr>
         <td><a href="{% url 'detail' task.id %}">{{ task.name }}</a></td>
         <td>{{ task.date }}</td>
         <td><a href="{% url 'update' task.id %}">変更</a></td>
         <td><a href="{% url 'destroy' task.id %}">削除</a></td>
       </tr>
       {% endfor %}
   </table>
   <a href="{% url 'create' %}">新規タスクの登録</a>

  </body>
</html>